#cards-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-flow: dense;
    column-gap: 2.1%;
    row-gap: 50px;
    justify-items: center;
    align-items: center;
    margin: 2rem;
}