header {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 20px;
}

.top-header, .bottom-header, .input-group {
    display: flex;
    flex-flow: row nowrap;
}

.top-header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 100%;
    padding: 2rem 4rem;
}

.cart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    padding: 0 20px;
}

.svgCart {
    width: 29px;
    height: 29px;
    justify-self: end;
    margin-right: 20px;
    cursor: pointer;
}

.bottom-header {
    background-color: #252525;
    display: flex;
    justify-content: center;
}


.bottom-header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 16px calc(40px + 0.4vw);
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-right: 2px solid #3b3b3b;
    position: relative;
}

.bottom-header a:hover {
    background-color: #e7ab3c;
    border-color: #e7ab3c;
}

.bottom-header a:first-of-type{
    box-shadow: -1px 0 0 #3b3b3b;
}
