.home {
    position: relative;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

.home-wrapper {
    flex: 1;
    width: 100%;
    margin-top: clamp(13rem,7vw,7.5rem); ;
    display: flex;
    flex-direction: column;
    gap: clamp(13rem,6vw,4.5rem);
}

.home-content {
    display:flex;
    height: -webkit-fill-available;
}

.img-content {
    width: 50%;
    background-image: url("./images/drake-unsplash.png");
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@media (max-width:1145px){

    .img-content {
        width: 100%;
    }
}

@media (max-width:829px){
    .img-content {
        inset: 0;
    }

}

h1 {
    font-weight: 700;
    font-size: clamp(2.37rem,5vw,3.4rem);
    padding: clamp(2rem,3vw,5rem);
}

h1 span {
    display: block;
    font-size: clamp(3.5rem,10vw,5.7rem);
    font-weight: 600;
    color: var(--accent-red);
}

.season-promotions {
    font-size: clamp(1.7rem,5vw,2.5rem);
    padding: clamp(2rem,3vw,5rem);
}

.season-promotions button {
    background: var(--accent-red);
    color: var(--text-primary-color);
    font-size: clamp(1.3rem,2vw,1.4rem);
    font-weight: 500;
    border: none;
    margin: 10px 0;
    padding: 15px 24px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 1.5rem;
}

.season-promotions button:hover {
    background-color: brown;
    color: aliceblue;
}