main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.product__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.product__def {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.product__def--name {
  font-weight: 700;
  font-size: 3rem;
}

.product__def p {
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

.product__def--price {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(28, 102, 59);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
